
#game-canvas {
  display: none;
  border: 1px solid gray;
  width: 768px;
}

#level-error {
  display: none;
}

#game-canvas {
  border: 1px solid black;
  width: 768px;
}

img.sprite {
  height: 24px;
  border: 1px solid white;
}

img.selected {
  height: 24px;
  border: 1px solid red;
}

div.options {
  margin: 10px;
  padding: 0px;
  border: 1px solid black;
}

span#header {
  background-color: darkblue;
  color: white;

  padding: 5px;

  font-weight: bold;

  width: 100%;
  display: block;
}

label {
  margin-left: 7px;
  font-weight: bold;
}

select {
  margin-left: 7px;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  margin-left: 7px;
  margin-bottom: 5px;
}

#align {
  margin: 5px;
}
