<div id="screen">
  <div id="content" class="Intro TextScreen">

    <h1>Welcome to the experiment.</h1>

    <h2>PLEASE READ THESE INSTRUCTIONS CAREFULLY!</h2>

    <p>Thank you for participating in our study.</p>

    <p>When you are ready to start the experiment, click NEXT.</p>
  </div>

  <div id="footer">
    <div class="buttons">
      <!--<button id="button_previous" class="navigation" ng-click="previous()" ng-class="{enabled: is_previous_allowed()}">Previous</button>-->
      <button id="button_next" class="navigation" ng-click="next()" ng-class="{enabled: is_next_allowed()}">Next</button>
    </div>
  </div>
</div>
